<div id="vsign_wrapper_<%= @stamp.id %>" class="vsign_wrapper" style="position: relative;">
	<div class="vsign_top_<%= @stamp.id %>">
	</div>
	
	<div id="vsign_content_<%= @stamp.id %>" class="vsign_content absolute" data-css="<%= @stamp.setting.settings['stamp_content'] %>">
	
		<div id="vsign_name_<%= @stamp.id %>" class="vsign_name ten absolute" data-css="<%= @stamp.setting.settings['stamp_name'] %>"><%= @stamp.name.blank? ? "Enter full name" : @stamp.name%></div>
		<br>
		<div id="vsign_email_<%= @stamp.id %>" class="vsign_email absolute" data-css="<%= @stamp.setting.settings['stamp_email'] %>">
			<%= current_user.email%>
		</div>
		<br>
		<div id="vsign_mobile_<%= @stamp.id %>" class="vsign_name absolute ten" data-css="<%= @stamp.setting.settings['stamp_mobile'] %>"><%= @stamp.mobile.blank? ? "Enter mobile number" : @stamp.mobile %></div>
		<br>
		<div id="vsign_links_<%= @stamp.id %>" class="vsign_links">
		
		</div>
		<div class="vsign_powered absolute" style="bottom: -15px; ">
			<a href="#"><span class="grey eight">signature powered by</span></a>
			<a href="#"><span class="grey nine bold">PeepSign</span></a>
		</div>
	</div>
		
	<div class="clear"></div>

	
	<div class="vsign_bottom_<%= @stamp.id %>">
		
	</div>	
</div>

<script type="text/javascript" charset="utf-8">
	showElementPosition($("#vsign_content_<%= @stamp.id %>"));
	showElementPosition($("#vsign_name_<%= @stamp.id %>"));
	showElementPosition($("#vsign_email_<%= @stamp.id %>"));
	showElementPosition($("#vsign_mobile_<%= @stamp.id %>"));
</script>