<h1>Listing Signatures</h1>

<table>
  <tr>
    <th>Label</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
 <% @stamps.each do |stamp| %>
  <tr>
    <td><%= stamp.label%></th>
    <td><%= stamp.name%></th>
    <td><%= stamp.email%></th>
    <td><%= link_to 'Show', stamp %></td>
    <td><%= link_to 'Edit', edit_stamp_path(stamp) %></td>
    <td><%= link_to 'Destroy', stamp, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Signature', new_stamp_path %>
