
<div class="sig_boundary" style="background-color: #bedce7; font-size: 24px; width: 520px;"> <!-- signature boundary -->

  <div class="sig_top">
  </div>

  <div class="sig_left" style="float: left;">
  </div>

  <div class="sig_wrapper">
    <div class="sig_col_one" style="font-size: 12px; border: 1px dotted #aaa; padding: 5px; height: 100px;"> 
    
      <div class="sig_logo sign_text">
        Company Logo
      </div>
    
      <div class="sig_name sign_text">
        <%= current_user.name.blank? ? "Your Name" : current_user.name %>
      </div>
      
      <div class="sig_designation sign_text">
        <%= current_user.designation.blank? ? "Your Designation" : current_user.designation %>
      </div>
      
      <div class="sig_company sign_text">
        <%= current_user.company.blank? ? "Company Name" : current_user.company %>
      </div>
      
      <div class="sig_mobile sign_text">
        <%= current_user.mobile.blank? ? "Mobile Number" : current_user.mobile %>
      </div>
      
      <div class="sig_email">
        <%= @stamp.email.blank? ? current_user.email.blank? ? "email@address.com" : current_user.email : @stamp.email %>
      </div>
      
    </div>

    <div class="sig_col_two" style="font-size: 12px; border: 1px dotted #aaa; padding: 5px; height: 50px;">
      <div class="sig_message_board sign_image_link">
        Some Clickable Message to display
      </div>
  
    </div>

    <div class="sig_col_three" style="height: 40px; border: 1px dotted #aaa; font-size: 12px;">
      <ul class="sign_site_navigation_links sign_links">
        <li style="float: left; text-decoration: none; margin-right: 10px;"> <a href="#"> Home </a> </li>
        <li style="float: left; text-decoration: none; margin-right: 10px;"> <a href="#"> Product </a> </li>
        <li style="float: left; text-decoration: none; margin-right: 10px;"> <a href="#"> Careers </a> </li>
        <li style="float: left; text-decoration: none; margin-right: 10px;"> <a href="#"> Contact Us </a> </li>
      <ul>
    </div>
    <div style="clear: both;"></div>
  </div>
  <div style="clear: both;"></div>
  
  <div class="sig_right" style="float: right;">
  </div>

  <div style="clear: both;"></div>

  <div class="sig_bottom">
    <div class="sign_disclaimer sign_text">
    </div>
  </div>

</div> <!-- Signature boundary ended -->
